{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["iOS >= 10", "Android >= 5", "last 2 version"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
