.l-body
  display flex
  flex-direction column
  min-height 100vh

.l-wrap
  flex-grow 1
  margin-bottom 16px
  +bp(pc)
    margin-bottom 58px

.l-pagetop
  position sticky
  position -webkit-sticky
  bottom 24px
  width 40px
  height 40px
  margin-left auto
  margin-bottom 24px
  margin-right 16px
  z-index 3
  +bp(pc)
    bottom 40px
    margin-right 40px
    margin-bottom 32px

.l-pc-container
  +bp(pc)
    max-width 1200px
    margin 0 auto

.l-pc-padding-container
  +bp(pc)
    max-width calc(1200px + 10.66vw)
    margin 0 auto
    padding 0 5.33vw

