// font
basic-font = "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic Std", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", sans-serif


// 文字色
color-text-sub          = #696969


// 色
color-black             = #000
color-text-blue         = #00308F

color-blue              = #003399
color-blue-hover        = #2E7DF3

color-link              = #005BAC
color-white             = #fff
color-white-hover       = #F2F7FC
color-highlight         = #B5D7FF

color-border            = #DDDDDD

color-bg-grey           = #F9F9F9
color-bg-blue           = #EFF5FF

color-table-blue        = #E0EDFF


// color-yellow            = #FFCC00
// color-yellow-hover      = #FFDE58
// color-gray              = #D2D2D2
// color-bg-yellow         = #FFFBEE
// color-bg-red            = #BF002D

// ウィンドウサイズ
breakpoint-se           = 321px
breakpoint-sp           = 480px
breakpoint-tablet       = 768px
breakpoint-pc           = 960px
breakpoint-pc-l         = 1200px
breakpoint-pc-max       = 1440px
