- var image_path = '/common/img'
- var css_path = '/common/css'
- var js_path = '/common/js'
- var domain = 'https://xxx.com/'
- var site_name = 'テスト'

- 
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップ',
      description : '',
      keywords : '',
      image : 'common/img/ogp/common.png'    
    }
  }


