.l-footer__logo-area
  .l-footer__logo-area-inner
    .l-footer__logo
      img(src="/common/img/footer/logo-footer.png" alt="東京海上グループ")
    a.l-footer__catch(href="https://www.tokiomarinehd.com/company/information/ci.html" target="_blank" rel="noopener noreferrer")
      img(src="/common/img/footer/txt_footer_01.png" alt="To Be a Good Company")
    small.l-footer__copyright
      | Copyright (c) Tokio Marine &amp; Nichido Fire Insurance Co., Ltd.