.contact
  padding 40px 6vw
  background color-bg-blue
  text-align center
  +bp(pc)
    padding 72px 0
    
  &--intro
    padding-bottom 24px
    line-height 2
    +bp(pc)
      font-size 1.8rem
      letter-spacing 0.04em


